.image-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    margin-left: 320px;
    margin-right: 320px;
  }

  .image-container div {
    text-align: center; /* Alinear el texto al centro */
    margin: 10px; /* Espacio entre elementos */
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
  }
  .image-container div img {
    width: 65px;
    height: auto; 
  }
  .obj{
    margin-left: 320px;
    margin-right: 320px;
    font-size: 35px;
    letter-spacing: 10px;
    font-family: 'Roboto', sans-serif;
  }
  .objtit{
    margin-left: 320px;
    margin-right: 320px;
    font-size: 40px;
    letter-spacing: 10px;
    font-family: 'Roboto', sans-serif;
  }

  .objmis{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 10px;
    font-size: 40px;

  }
  .tes{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }
  .im:hover {
    transform: scale(1.3); 
  }
  .im{
    width: 330px;
    transition: transform 0.3s ease-in-out;
  
  }

  .im1:hover {
    transform: scale(1.05); 
  }
  .im1{
    width: 330px;
    transition: transform 0.3s ease-in-out;
  }

    .tabla1{
    border-collapse: collapse;
    margin-left: 320px;
    margin-right: 320px;
  }
  .tabla1 th, td {
    border: none;
    padding: 8px;
    text-align: center;
  }
.tabla1 td:first-child {
    width: 33%; 
}

.tabla1 img {
    width: 100%; 
    display: block;
}
.one{
    font-size: 50px;
    font-family: 'GFS Didot', serif;
    letter-spacing: 10px;
    font-weight: bold;
    
}


.tab {
    display: flex;
    justify-content: center;
    margin-left: 330px;
    margin-right: 330px;
  }

  .sup th, .sup td{
    /* border: 1px solid black; */
    padding: 8px;
    
  }
  .sup{
    border-collapse: collapse;
    margin-left: 50px;
  }

.hey{
    border-collapse: collapse;
}
.hey th, .hey td{
    /* border: 1px solid black; */
    padding: 8px;
}
.prim{
    width: 400px;
    height: auto;
}
.seg{
    width: 550px;
    height: auto;
}
.pe{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    text-align: left;
    
}

/* cardsss */

.cards{
  display: flex;
  justify-content: center;
  justify-content: space-around; 
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 14%;
}

.card:hover {
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.6);
}

.container {
  padding: 2px 16px;
}
.si{
 font-family: 'GFS Didot', serif;
 margin-left: 40px;
}